$fontInter: 'Inter', sans-serif;
$fontManrope: 'Manrope', sans-serif;
$fontPoppins: 'Poppins', sans-serif;
$fontRoboto: 'Roboto', sans-serif;

$bgLight: #f5f5f5;
$bgLight2: #ffffff;
$bgDark: #000000;

$colorTextDark1: #000000;
$colorTextDark2: #1f1f1f;
$colorTextDark3: #717171;

$colorTextLight1: #ffffff;
$colorTextLight2: #c9c9c9;
$colorTextLight3: #616161;
