@import '../../styles/variables.scss';

.container {
  margin: 39.5px auto 50px;
  max-width: 1280px;
  padding-inline: 42px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 800px) {
    margin-top: 14px;
    padding-inline: 20px;
  }
}

.mainTitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-align: center;

  @media (max-width: 550px) {
    font-size: 24px;
    line-height: 36px;
  }
}

.mainSubtitle {
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

  @media (max-width: 550px) {
    font-size: 14px;
    line-height: 21px;
  }

  @media (max-width: 360px) {
    max-width: 210px;
  }
}

.letterContainer {
  margin-top: 50px;
  padding: 10px;
  background: $bgLight2;
  overflow: hidden;
  max-width: 1196px;
  width: 100%;
  display: flex;
  gap: 50px;
  box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
  border-radius: 10px;

  @media (max-width: 800px) {
    flex-direction: column;
    margin-top: 20px;
    padding: 5px;
    gap: 0;
  }
}

@import '../../styles/variables.scss';

.wrapper {
  position: relative;
  max-width: 491px;
  width: 100%;
  background: $bgDark;
  padding: 40px 40px 36px;
  color: $colorTextLight1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 111px;
  overflow: hidden;
  border-radius: 10px;
  border-bottom-right-radius: 0;

  @media (max-width: 800px) {
    max-width: none;
    text-align: center;
    padding: 15px 40px 25px;
    gap: 0;
  }
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  @media (max-width: 800px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.subtitle {
  margin-top: 6px;
  font-size: 18px;
  line-height: 27px;
  color: $colorTextLight2;

  @media (max-width: 800px) {
    font-size: 11px;
    line-height: 16px;
  }
}

.contactSection {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media (max-width: 800px) {
    max-width: none;
    text-align: center;
    margin-top: 12px;
    gap: 15px;
  }
}

.iconsSection {
  margin-top: 48px;
  display: flex;
  gap: 24px;
  z-index: 2;

  @media (max-width: 800px) {
    justify-content: center;
    margin-top: 58px;
  }

  .iconSVG {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #1b1b1b;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    cursor: pointer;

    > * {
      fill: $bgLight2;
    }

    &:hover {
      background: $bgLight2;

      > * {
        fill: $bgDark;
      }
    }
  }
}

.bigCircle {
  position: absolute;
  width: 269px;
  height: 269px;
  right: -89px;
  bottom: -86px;
  border-radius: 50%;
  background: #1a1a1a;

  @media (max-width: 800px) {
    width: 192px;
    height: 192px;
    right: -112px;
    bottom: -90px;
  }
}

.smallCircle {
  position: absolute;
  width: 138px;
  height: 138px;
  right: 70px;
  bottom: 71px;
  border-radius: 50%;
  background: rgba(72, 72, 72, 0.5);

  @media (max-width: 800px) {
    width: 54px;
    height: 54px;
    right: 26px;
    bottom: 52px;
  }
}
