@import '../../styles/variables.scss';

.container {
  margin: 33.5px auto 50px;
  max-width: 1280px;
  padding-inline: 42px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: $fontPoppins;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

.subtitle {
  font-family: $fontPoppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.letterContainer {
  margin-top: 50px;
  padding: 10px;
  background: $bgLight2;
  max-width: 1196px;
  width: 100%;
  display: flex;
  gap: 50px;
  box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

@import '../../styles/variables.scss';

.wrapper {
  position: relative;
  max-width: 491px;
  width: 100%;
  background: $bgDark;
  padding: 40px 40px 36px;
  color: $colorTextLight1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 111px;
  overflow: hidden;
  border-radius: 10px;
  border-bottom-right-radius: 0;
}

.title {
  font-family: $fontPoppins;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
}

.subtitle {
  margin-top: 6px;
  font-family: $fontPoppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $colorTextLight2;
}

.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: spa;
  gap: 50px;
}

.iconsSection {
  margin-top: 48px;
  display: flex;
  gap: 24px;
  z-index: 2;

  .iconSVG {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #1b1b1b;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    cursor: pointer;

    > * {
      fill: $bgLight2;
    }

    &:hover {
      background: $bgLight2;

      > * {
        fill: $bgDark;
      }
    }
  }
}

.bigCircle {
  position: absolute;
  width: 269px;
  height: 269px;
  right: -89px;
  bottom: -86px;
  border-radius: 50%;

  background: #1a1a1a;
}

.smallCircle {
  position: absolute;
  width: 138px;
  height: 138px;
  right: 70px;
  bottom: 71px;
  border-radius: 50%;

  background: rgba(72, 72, 72, 0.5);
}
