@import '../../../styles/variables.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $colorTextLight1;
  background-color: $bgDark;
  cursor: pointer;
  transition: all 0.3s;
  border: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover {
    background-color: $bgLight2;
    color: $colorTextDark1;
    outline: 1px solid $colorTextDark1;
  }
}
