@import '../../styles/variables.scss';

.linkItem {
  cursor: pointer;
  font-family: $fontRoboto;
  font-size: 16px;
  line-height: 19px;

  @media (max-width: 800px) {
    font-size: 14px;
    line-height: 16.4px;
  }
}

.link {
  position: relative;
  color: $colorTextDark2;
  display: flex;
  align-items: center;
  column-gap: 5px;

  @media (max-width: 800px) {
    color: $colorTextLight1;
    align-items: flex-start;
  }

  &:hover {
    color: $colorTextDark3;
  }

  &.active {
    font-weight: 600;
    color: $colorTextDark1;

    @media (max-width: 800px) {
      color: $colorTextLight1;
      font-weight: 700;
    }
  }
}

.nestedLinks {
  position: absolute;
  top: 30px;
  list-style: none;
  background: $bgDark;
  color: $colorTextLight1;
  width: max-content;

  @media (max-width: 800px) {
    background: $bgLight;
    color: $colorTextDark1;
    top: 0;
    left: calc(100% + 15px);
    display: flex;
    flex-direction: column;
  }

  .nestedLink {
    padding: 10px;

    &:hover {
      color: $colorTextLight2;
    }
  }
}

.arrow::after {
  content: '';
  position: relative;
  top: -2px;
  display: block;
  height: 0.45em;
  width: 0.45em;
  border-width: 0.15em 0.15em 0 0;
  border-style: solid;
  border-color: $colorTextDark2;
  transform: rotate(135deg);

  @media (max-width: 800px) {
    top: 4px;
    border-color: $colorTextLight1;
    transform: rotate(45deg);
  }
}

.isOpen::after {
  top: 2px;
  transform: rotate(-45deg);

  @media (max-width: 800px) {
    top: 4px;
    left: 5px;
    transform: rotate(225deg);
  }
}
